.all-events-body {
  background-image: url("../Image/backgound-img-2.png");
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.card {
  border: 1px solid #ee8c83;
  background-color: white;
  box-shadow: 0 1px 3px -2px #e27c73;
  border-radius: 5px;
  width: 380px;
  margin: 10px;
  padding: 10px;
  text-align: center;
}

.time-text {
  font-style: italic;
}

.category-text {
  font-weight: bold;
}

.span-span {
  display: flex;
  justify-content: space-between;
}
