/* responsive design
  mobile dimensions: 482x800
} */

nav > p {
  display: inline;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 1.3em;
  letter-spacing: 0.7px;
}

nav {
  background-color: #e95a4d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo {
  width: 10%;
}

.logo-container {
  display: flex;
  justify-content: center;
}
